/* BEGIN PRE-FORMAT TAGS */
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
html,body,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,input { margin: 0px; padding: 0px; }
a img,:link img,:visited img { border: none; }
table, div { border-collapse: collapse; }
tr { vertical-align: top; }
br { clear: left; }
strong, b {	font-weight: bold; }
/* END PRE-FORMAT TAGS */