.feedburnerFeedBlock
{
    margin-top:30px;
    margin-bottom:50px;
    border-width:1px;    
}

.feedTitle a , #creditfooter
{
    display:none;
    font-size:1.5em;
}


.feedburnerFeedBlock ul
{

/*  background-image: url(upper-left-corner-red-triangle.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  
	margin: 5px 10px;
	padding: 5px;
	font-size: 1.0em;
}

p.date
{
    display:inline;
}
.feedburnerFeedBlock ul li
{
    list-style-type:none;
    text-align:left;
	padding-left: 3px;
	padding-top: 2px;
	margin: 2px 0px 2px 20px;
	background-color: #FCFCFC;
  background-repeat: no-repeat;
  background-position: top left;
  border: 1px solid #CCCCCC;
	margin: 5px 10px;
	padding: 5px;
	font-size: 1.0em;

}

.headline a:link,.headline a:visited,.headline a:hover,.headline a:active
{
   
   color:black;
   font-size:1.2em;
   font-weight:bold;
   font-style:normal;
   text-decoration:none;
}
.hugeText
{
	font-size: 1.5em;
}

.largeBoldText
{
	font-size: 1.3em;
	font-weight: bold;
}

.largeText
{
	font-size: 1.3em;
}

.mediumBoldText
{
	font-size: 1.2em;
	font-weight: bold;
}

.mediumText
{
	font-size: 1.2em;
}

.smallText
{
	font-size: .9em;
}

.cleaner
{
	clear: both;
	height: 0px;
}

.largeRedBoldText
{
	color: #FF0000;
	font-size: 1.3em;
	font-weight: bold;
}

.dataContainer
{
	float: left;
	width: 247px;
}

.dataDoubleWideContainer
{
	float: left;
	width: 494px;
}

.dataTripleWideContainer
{
	float: left;
	width: 739px;
}

.dataQuadWideContainer
{
	float: left;
	width: 988px;
}

.dataContainer p span.label, div.dataHeading span.label,  .dataDoubleWideContainer p span.label, .dataTripleWideContainer p span.label, .dataQuadWideContainer p span.label
{
	font-weight: normal;
	margin-right: 5px;
}

div.dataHeading, p.dataHeading
{
	background-color: #B2B2B2;
	color: Black;
	padding: 2px 5px;
	font-weight: bold;
}

.dataContainer p, .dataDoubleWideContainer p, .dataTripleWideContainer p, .dataQuadWideContainer p
{
	padding: 0px 5px;
	font-weight: bold;
}

.borderedContentStrips
{
	border: 1px solid #999999;
	margin: 5px 0px;
	padding: 2px 5px;
}

.borderedShadedContentStrips
{
	border: 1px solid #999999;
	margin: 5px 0px;
	padding: 2px 5px;
	background-color: #CCCCCC;
}

.borderedShadedContentStrips p.caption 
{
	font-family:Arial;
	font-size: 1.4em;
}

div.genericBordered
{
	border: 1px solid #b2b2b2;
	padding: 2px 5px;	
}

table.genericBordered
{
	width: 100%;
}

table.genericBordered th, table.genericBordered td
{
	border: 1px solid #b2b2b2;
	padding: 2px 5px;
}

table.genericNonBordered
{
	width: 100%;
}

table.genericNonBordered th, table.genericNonBordered td
{
	border: 0px;
}

.error
{
	color: Red;
	font-size: 1.2em;
}

.tip
{
	background:#ffc;
	border:1px solid #090;
	overflow:hidden;
	margin:30px 3px 3px 3px;
	padding:5px;
}

.tip h4
{
	color:#006600;
	font:bold 1.1em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}

.tip p
{
	color:#333;
	font:1.0em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
}

.hidden
{
	display: none;
}

table.generic
{
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

table.generic tr
{
	padding: 0px;
	vertical-align: top;
}

table.generic td
{
	padding: 2px;
}

table.generic tr.gray
{
	background: url(../Images/Layout/GrayBackground.png) repeat;
}

table.generic tr.blue
{
	background: url(../Images/Layout/BlueBackground.png) repeat;
}

td.emptyCell
{
	height: 1px;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 1px;
}

.searchLink
{
	float: right;
	clear: right;
	width: 100px;
	color: #0d6d9d !important;
	text-decoration: none;
	font: bold 1.1em Verdana, Arial, Helvetica, sans-serif !important;
	margin: 10px 30px 0 0;
}

.searchLink:hover
{
	text-decoration: underline !important;
}

.nameHeading
{
	font-size: 1.6em;
	font-weight: bold;
}

.pagingNavLink
{
	text-decoration: none !important;
}

.restricted
{
	color: #FF0000;
	margin-left: 50px;
	font-size: 1.6em;
}

.risk
{
	color: #FF0000;
	margin-left: 5px;
	font-size: 1.0em;
}


.accessibleHidden
{
	position:absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
}

td.Caution
{
	background-color: #cccccc;
	color: #000000;
	font-weight: bold;
}

td.Warning
{
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
}

.detentionFacilityFilterButton
{
   font-weight:bold;
   text-decoration:underline;
   text-align:left;
   color:#FFFFFF;
   width:110px;
   background-color:#000000;
   border-style:solid;
   border-color:#BBBBBB;
   border-width:1px;
}

table td.noBorder, table th.noBorder
{
	border: 0px;
}

table td.doubleBorderTop
{
	border-top-width: 2px;
}

table#iqTable
{
	width: 50%;
}

.viewDetailsLink
{
	font-size: 10px;
	text-transform: uppercase;
}

.selectedRow td
{
	background: url(../Images/Layout/BlueBackground.png) repeat;	
}

.selectedRow span
{
	font-weight: bold;
}

/* BEGIN Modal CSS Styles */
div.modal .borderedShadedContentStrips
{
	margin: 5px 5px 0px 5px;
}

table.dataEntry
{
	width: 100%;
}

table.dataEntry tr th
{
	text-align: left;
}

table.dataEntry tr
{
	vertical-align: top;
}

table.dataEntry label, table.dataEntry span.label
{
	display: block;
	float: left;
	text-align: right;
	width: 150px;
	font-weight: normal;
	margin-top: 3px;
	margin-right: 5px;
}

table.dataEntry input[type=checkbox]
{
	float: left;
	vertical-align: middle;
}

table.dataEntry label.nestedLabel
{
	display: inline;
	float: none;
}

table.dataEntry input.smallTextBox
{
	width: 25%;
}


table.dataEntry tr th div
{
	margin: 5px 7px;
	text-align: left;
}

th.actionColumn, td.actionColumn
{
	width: 5%;
}

span.example
{
	margin-left: 157px;
	font-size: 7pt;
	position: relative;
	top: -4px;
}

.requiredFieldIndicator
{
	color: red;
	font-weight: bold;
}

.errorIndicator
{
	padding-left: 5px; 
	position: relative;
	top: 3px;
}

div.validationSummary
{
	background-color: #FFCCCC;
/*  background-image: url(upper-left-corner-red-triangle.gif); */
  background-repeat: no-repeat;
  background-position: top left;
  border: 1px solid #ff0000;
	margin: 5px 10px;
	padding: 5px;
	font-size: 1.0em;
}

.validationSummary ul
{
	list-style-type: square;
	padding: 0px;
	margin: 5px 10px;
}

.validationSummary ul li
{
	padding-left: 3px;
	padding-top: 2px;
	margin: 2px 0px 2px 20px;
}

.heading
{
	font-size: 1.6em;
	background-color: #EEEEEE;
	padding: 10px 5px 5px 10px;
	font-family: Arial;
}

.blueButton
{
	color: White;
	font-size: 12px;
	height: 19px;
}

.leftBlueButton
{
	background-image:url(/images/buttons/bluebuttonleft.gif);
	width: 10px;
	height: 19px;
	float: left;
}

.middleBlueButton
{
	background-image:url(/images/buttons/bluebuttoncenter.gif);
	height: 19px;
	float: left;
	cursor:pointer;
}

.middleBlueButton a
{
	color: White;
	text-decoration: underline;
	font-weight: bold;
	cursor:pointer;
}

.rightBlueButton
{
	width: 10px;
	background-image:url(/images/buttons/bluebuttonright.gif);	
	height: 19px;
	float: left;
}

.window {
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    background-color: #FFFFFF;
    color: #333;
    border: 1px solid black;
}


/* END Modal CSS Styles */


.restrictedBGColor
{
  background-color: #FF0000;
}

.schedule th
{
	font-weight:bold;
	border-bottom: solid 1px #666;
	vertical-align:bottom;
}

.headerrow
{
	line-height:30px
}

.day
{
	white-space:nowrap;
}

.timeslotrow td
{
	border-bottom: solid 1px #666;
	border-right: solid 1px #666;
}

.timeslot
{
	font-weight: bold;
	vertical-align:middle;
	border-right: solid 1px #CCC;
	padding:2px;
	text-align:left;
}

.session
{
	background-color: #EFEEFE;
	border: solid 1px #DDD;
	float:left;
	margin:2px;
}