/* Begin generic styles */

.tdu {text-decoration: underline;}

/* Font Size */
.fs8 { font-size: 8px; }
.fs9 { font-size: 9px; }
.fs10 { font-size: 10px; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs21 { font-size: 21px; }
.fs24 { font-size: 24px; }
.fs30 { font-size: 30px; }

.fsp8em { font-size: .8em; }
.fsp9em { font-size: .9em; }
.fs1em { font-size: 1.0em; }
.fs1p1em { font-size: 1.1em; }
.fs1p2em { font-size: 1.2em; }
.fs1p3em { font-size: 1.3em; }
.fs1p4em { font-size: 1.4em; }
.fs1p5em { font-size: 1.5em; }
.fs1p6em { font-size: 1.6em; }

/* Font Weight */
.fwn { font-weight: normal; }
.fwb { font-weight: bold; }

/* Line Height */
.lh12 { line-height: 12px; }
.lh14 { line-height: 14px; }
.lh16 { line-height: 16px; }
.lh21 { line-height: 21px; }

.lhp8em { line-height: .8em; }
.lhp9em { line-height: .9em; }
.lh1em { line-height: 1em; }
.lh1p1em { line-height: 1.1em; }
.lh1p2em { line-height: 1.2em; }
.lh1p3em { line-height: 1.3em; }
.lh1p4em { line-height: 1.4em; }

/* Border */
.b0 { border: 0px; }
.b1s000 { border: 1px solid #000; }
.b1s333 { border: 1px solid #333; }
.b1s666 { border: 1px solid #666; }
.b1s999 { border: 1px solid #999; }
.bt1s000 { border-top: 1px solid #000; }
.bt2s000 { border-top: 2px solid #000; }
.bt3d000 { border-top: 3px double #000; }
.bb1000 { border-bottom: 1px solid #000000; }

/* Padding */
.p0 { padding: 0px; }
.pt0 { padding-top: 0px; }
.pr0 { padding-right: 0px; }
.pb0 { padding-bottom: 0px; }
.pl0 { padding-left: 0px; }

.p1 { padding: 1px; }
.pt1 { padding-top: 1px; }
.pr1 { padding-right: 1px; }
.pb1 { padding-bottom: 1px; }
.pl1 { padding-left: 1px; }

.p2 { padding: 2px; }
.pt2 { padding-top: 2px; }
.pr2 { padding-right: 2px; }
.pb2 { padding-bottom: 2px; }
.pl2 { padding-left: 2px; }

.p4 { padding: 4px; }
.pt4 { padding-top:4px; }
.pr4 { padding-right: 4px; }
.pb4 { padding-bottom: 4px; }
.pl4 { padding-left: 4px; }

.p5 { padding: 5px; }
.pt5 { padding-top: 5px; }
.pr5 { padding-right: 5px; }
.pb5 { padding-bottom: 5px; }
.pl5 { padding-left: 5px; }

.p7 { padding: 7px; }
.pt7 { padding-top: 7px; }
.pr7 { padding-right: 7px; }
.pb7 { padding-bottom: 7px; }
.pl7 { padding-left: 7px; }

.p8 { padding: 8px; }
.pt8 { padding-top: 8px; }
.pr8 { padding-right: 8px; }
.pb8 { padding-bottom: 8px; }
.pl8 { padding-left: 8px; }

.p9 { padding: 9px; }
.pt9 { padding-top: 9px; }
.pr9 { padding-right: 9px; }
.pb9 { padding-bottom: 9px; }
.pl9 { padding-left: 9px; }

.p10 { padding: 10px; }
.pt10 { padding-top: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pl10 { padding-left: 10px; }

.p15 { padding: 15px; }
.pt15 { padding-top: 15px; }
.pr15 { padding-right: 15px; }
.pb15 { padding-bottom: 15px; }
.pl15 { padding-left: 15px; }

.p20 { padding: 20px; }
.pt20 { padding-top: 20px; }
.pr20 { padding-right: 20px; }
.pb20 { padding-bottom: 20px; }
.pl20 { padding-left: 20px; }

.p25 { padding:25px; }
.pt25 { padding-top:25px; }
.pr25 { padding-right:25px; }
.pb25 { padding-bottom:25px; }
.pl25 { padding-left:25px; }

.p30 { padding: 30px; }
.pt30 { padding-top: 30px; }
.pr30 { padding-right: 30px; }
.pb30 { padding-bottom: 30px; }
.pl30 { padding-left: 30px; }

.p35 { padding: 35px; }
.pt35 { padding-top: 35px; }
.pr35 { padding-right: 35px; }
.pb35 { padding-bottom: 35px; }
.pl35 { padding-left: 35px; }

.p40 { padding: 40px; }
.pt40 { padding-top: 40px; }
.pr40 { padding-right: 40px; }
.pb40 { padding-bottom: 40px; }
.pl40 { padding-left: 40px; }

.p80 { padding: 80px; }
.pt80 { padding-top: 80px; }
.pr80 { padding-right: 80px; }
.pb80 { padding-bottom: 80px; }
.pl80 { padding-left: 80px; }

/* Margin */
.m0 { margin: 0px; }
.mt0 { margin-top: 0px; }
.mr0 { margin-right: 0px; }
.mb0 { margin-bottom: 0px; }
.ml0 { margin-left: 0px; }

.m1 { margin: 1px; }
.mt1 { margin-top: 1px; }
.mr1 { margin-right: 1px; }
.mb1 { margin-bottom: 1px; }
.ml1 { margin-left: 1px; }

.m2 { margin: 2px; }
.mt2 { margin-top: 2px; }
.mr2 { margin-right: 2px; }
.mb2 { margin-bottom: 2px; }
.ml2 { margin-left: 2px; }

.m3 { margin: 3px; }
.mt3 { margin-top: 3px; }
.mr3 { margin-right: 3px; }
.mb3 { margin-bottom: 3px; }
.ml3 { margin-left: 3px; }

.m4 { margin: 4px; }
.mt4 { margin-top: 4px; }
.mr4 { margin-right: 4px; }
.mb4 { margin-bottom: 4px; }
.ml4 { margin-left: 4px; }

.m5 { margin: 5px; }
.mt5 { margin-top: 5px; }
.mr5 { margin-right: 5px; }
.mb5 { margin-bottom: 5px; }
.ml5 { margin-left: 5px; }

.m7 { margin: 7px; }
.mt7 { margin-top: 7px; }
.mr7 { margin-right: 7px; }
.mb7 { margin-bottom: 7px; }
.ml7 { margin-left: 7px; }

.m10 { margin: 10px; }
.mt10 { margin-top: 10px; }
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }

.m15 { margin: 15px; }
.mt15 { margin-top: 15px; }
.mr15 { margin-right: 15px; }
.mb15 { margin-bottom: 15px; }
.ml15 { margin-left: 15px; }

.m20 { margin: 20px; }
.mt20 { margin-top: 20px; }
.mr20 { margin-right: 20px; }
.mb20 { margin-bottom:2 0px; }
.ml20 { margin-left: 20px; }

.m25 { margin: 25px; }
.mt25 { margin-top: 25px; }
.mr25 { margin-right: 25px; }
.mb25 { margin-bottom: 25px; }
.ml25 { margin-left: 25px; }

.m30 { margin: 30px; }
.mt30 { margin-top: 30px; }
.mr30 { margin-right: 30px; }
.mb30 { margin-bottom: 30px; }
.ml30 { margin-left: 30px; }

.m35 { margin: 35px; }
.mt35 { margin-top: 35px; }
.mr35 { margin-right: 35px; }
.mb35 { margin-bottom: 35px; }
.ml35 { margin-left: 35px; }

.m40 { margin: 40px; }
.mt40 { margin-top: 40px; }
.mr40 { margin-right: 40px; }
.mb40 { margin-bottom: 40px; }
.ml40 { margin-left: 40px; }

.m50 { margin: 50px; }
.mt50 { margin-top: 50px; }
.mr50 { margin-right: 50px; }
.mb50 { margin-bottom: 50px; }
.ml50 { margin-left: 50px; }

.m80 { margin: 80px; }
.mt80 { margin-top: 80px; }
.mr80 { margin-right: 80px; }
.mb80 { margin-bottom: 80px; }
.ml80 { margin-left: 80px; }

.m180 { margin: 180px; }
.mt180 { margin-top: 180px; }
.mr180 { margin-right: 180px; }
.mb180 { margin-bottom: 180px; }
.ml180 { margin-left: 180px; }

.mauto { margin: auto; }
.mtauto { margin-top: auto; }
.mrauto { margin-right: auto; }
.mbauto { margin-bottom: auto; }
.mlauto { margin-left: auto; }

/* Float */
.fl { float: left; }
.fr { float: right; }
.fn { float: none; }

/* Clear */
.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }

.h3 { height: 3px; }
.h5 { height: 5px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h200 { height: 200px; }
.h300 { height: 300px; }
.h400 { height: 400px; }

/* Widths */
.w5 { width: 5px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w90 { width: 90px; }
.w100 { width: 100px; }
.w110 { width: 110px; }
.w120 { width: 120px; }
.w130 { width: 130px; }
.w140 { width: 140px; }
.w150 { width: 150px; }
.w160 { width: 160px; }
.w175 { width: 175px; }
.w180 { width: 180px; }
.w190 { width: 190px; }
.w200 { width: 200px; }
.w220 { width: 220px; }
.w250 { width: 250px; }
.w260 { width: 260px; }
.w288 { width: 288px; }
.w300 { width: 300px; }
.w306 { width: 306px; }
.w315 { width: 315px; }
.w320 { width: 320px; }
.w328 { width: 328px; }
.w340 { width: 340px; }
.w345 { width: 345px; }
.w353 { width: 353px; }
.w400 { width: 400px; }
.w430 { width: 430px; }
.w432 { width: 432px; }
.w450{ width: 450px; }
.w470{ width: 470px; }
.w480 { width: 480px; }
.w495 { width: 495px; }
.w500 { width: 500px; }
.w510 { width: 510px; }
.w572 { width: 572px; }
.w746 { width: 746px; }

.w2p { width: 2%; }
.w5p { width: 5%; }
.w10p { width: 10%; }
.w15p { width: 15%; }
.w20p { width: 20%; }
.w25p { width: 25%; }
.w30p { width: 30%; }
.w35p { width: 35%; }
.w40p { width: 40%; }
.w45p { width: 45%; }
.w47p { width: 47%; }
.w48p { width: 48%; }
.w49p { width: 49%; }
.w50p { width: 50%; }
.w55p { width: 55%; }
.w60p { width: 60%; }
.w70p { width: 70%; }
.w75p { width: 75%; }
.w80p { width: 80%; }
.w90p { width: 90%; }
.w100p { width: 100%; }

/* Heights */
.h5 { height: 5px; }

.h100p { height: 100%; }

/* Border Collapse */
.bcs { border-collapse: separate; }

/* Text Align */
.tac { text-align: center; }
table.tac td, table.tac th { text-align: left; }
.taj { text-align: justify; }
table.taj td, table.taj th { text-align: left; }
.tal { text-align: left; }
table.tal td, table.tal th { text-align: left; }
.tar { text-align: right; }
table.tar td, table.tar th { text-align: left; }

/* Background color */
.bcw { background-color: white; }
.bcb { background-color: Black; }
/* Vertical align */
.vam { vertical-align: middle; }
.vabase { vertical-align: baseline; }
.vab { vertical-align: bottom;}
.va-2 { vertical-align: -2px;}
.vat { vertical-align: top;}

.di { display: inline; }
.db { display: block; }
.dn { display: none; }

.vn { visibility: hidden }

.cred { color: Red; }
.cyellow { color: Yellow; }
.cgreen { color: Lime; }
.cblack { color: Black; }
.cgray { color: Gray; }
.cwhite { color: White }

.z5000 { z-index: 5000; }
.z4000 { z-index: 4000; }

.wsnowrap {	white-space:nowrap; }

.oauto { overflow: auto; }
.oscroll { overflow: scroll; }
.oxhidden { overflow-x: hidden; }

/* End generic styles */