
#frameWrapper
{
	width: 1000px; 
	margin-right: auto; 
	margin-left: auto; 
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px; 
	text-align: left;
	background-color: #f2f2f2;
	/*background-image:	url(../Images/Layout/ContentBackground.gif);
	background-repeat: repeat-x;*/
}

#headerWrapper
{
	margin: 0px 5px;
	height: 15px;
	padding: 5px 0px;
}

#mainNavigationWrapper
{
	margin: 5px;
	border: solid 1px #999999;
}

#breadcrumbWrapper
{
	margin: 5px;
	padding: 5px;
	border: solid 1px #999999;
}

#identificationWrapper
{
	margin: 5px;
	padding: 5px;
	border: solid 1px #999999;
}

#mainContentWrapper
{
	margin: 5px;
}

#loginWrapper
{
	margin-left: 230px;
	margin-top: 90px;
	background-image: url(../Images/Layout/Logo.png);
	background-repeat: no-repeat;
	background-position: right 250px;
	width: 600px;
}

#loginWrapper h1
{
	font-size: 2.0em;
	font-weight: normal;
}

#loginWrapper h2
{
	font-size: 1.3em;
	padding-top: 6px;
	padding-bottom: 3px;
	margin: 0px;
}

#loginWrapper p label
{
	float: left;
	text-align: right;
	width: 120px;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-top: 3px;
}

#loginWrapper p input.textBox
{
	height: 20px;
}

#loginButtonWrapper
{
	margin-left: 130px;
	margin-top: 20px;
}

#loginNoticeWrapper
{
	width: 450px;
	margin-top: 40px;
	padding-bottom: 120px;
}

#loginWrapper .error
{
	font-weight: bold;
	font-size: 1.4em;
	float: right;
	width: 300px;
}

#leftColumnWrapper
{
	width: 218px;
	float: left;
	background: #d5e2d5;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
}

#leftColumnWrapper form p
{
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
}

#leftColumnWrapper h3
{
	background: url(../Images/Layout/SearchHeadingBackground.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #b3b3b3;
	border-top: 1px solid #b3b3b3;
	margin: 0px 0px 5px 0px;
	font-size: 1.1em;
	padding: 2px 5px 7px 5px;
}

#leftColumnWrapper label
{
	width: 60px;
	float: left;
	text-align: right;
	padding: 0px 3px 0px 0px;
	font-size: 1em;
}

#leftColumnWrapper input
{
	width: 145px;
	float: left;
	overflow: hidden;
}

#leftColumnWrapper h3 label
{
	float: none;
	font-weight: bold;
	margin-left: 5px;
}

#leftColumnWrapper h3 input
{
	float: left;
	width: 20px;
	display: block;
}

#leftColumnWrapper select
{
	width: 150px;
	float: left;
	overflow: hidden;
}

#leftColumnWrapper select.race
{
	width: 100px;
}

#leftColumnWrapper input.searchButton
{
	width: 128px;
	margin: 15px 10px 0 0;
	float: right;
}

#mainTwoColumnWrapper
{
	float: left;
	margin-left: 5px;
	width: 765px;
}

#welcomeToSearchWrapper, #noResultsWrapper, #errorResultsWrapper
{
	background-color: #e7ebee;
	border: 1px solid #b2b2b2;
	padding: 5px;
}

#welcomeToSearchWrapper h3, #noResultsWrapper h3, #errorResultsWrapper h3
{
	font-size: 1.3em;
	margin-bottom: 15px;
}

#welcomeToSearchWrapper h4, #noResultsWrapper h4, #errorResultsWrapper h4
{
	font-size: 1.2em;
	margin-left: 10px;
	margin-bottom: 15px;
}

#cpsTrackingData
{
	margin:0;
}