#menuListWrapper 
{
	padding: 0px; 
	margin: 0px; 
	list-style: none; 
	position: relative; 
	float: left; 
	z-index: 500;
}

#menuListWrapper li 
{
	display: inline; 
	float: left; 
	height: 25px;
}

/* All Top Level Menu Items */
#menuListWrapper li a.tl 
{
	padding: 5px 5px;
	display: block; 
	width: 110px; 
	height: 15px;
	text-align: center;
	text-decoration: none; 
	font-size: 1.2em;
	font-weight: bold;
	color: #666666;
	border-left: 1px solid Transparent;
	border-right: 1px solid Transparent;
}

/* Do not display drop down initially */
#menuListWrapper div 
{
	display: none;
}

/* All list item links when hovered */
#menuListWrapper li a:hover 
{
	white-space: normal; 
	background-color: #d1d1d1;
}

/* Top Level Menu Item Hover that has a drop down */
#menuListWrapper li a.dropDown:hover
{
	/*background-position: 100px 10px;*/
}

/* Top Level Menu Item that has a drop down */
#menuListWrapper li a.dropDown
{
	background-image: url(../Images/Icons/ChevronExpand.gif);
	background-repeat: no-repeat;
	background-position: 100px 5px;
}

/* Top Level Menu Item Hover */
#menuListWrapper li:hover > a 
{
	white-space: normal; 
	background-color: #eeeeee;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	z-index: 505;
}

/* When hovering over top level, this shows the drop down */
#menuListWrapper :hover div
{
	display: block; 
	background: #eeeeee; 
	position: absolute; 
	left: 0; 
	top: 25px; 
	border: 1px solid #999999; 
	padding-bottom: 10px;
	z-index: 503;
}

/* For double wide menu */
#menuListWrapper .two:hover div.doubleWideMenu 
{
	/*background:#f5eef0;*/ 
	width: 450px;
}

/* For double wide menu on hover */
#menuListWrapper .two:hover 
{
	position: relative;
}

/* For single wide menu */
#menuListWrapper .single:hover div.singleWideMenu 
{
	/*background:#ffefd5; */
	width: 225px;
}

/* For single wide menu on hover */
#menuListWrapper .single:hover 
{
	position: relative;
}

#menuListWrapper :hover div dl 
{
	display: inline; 
	padding: 0; 
	margin: 0 10px 10px 10px; 
	float: left; 
	width: 204px;
}

#menuListWrapper :hover div dl dt 
{
	width: 214px; 
	margin: 5px 0px; 
	text-decoration: none; 
	height: 20px; 
	font-weight: bold;
}

#menuListWrapper .two:hover div 
{
	/*left:-150px;*/
}

#menuListWrapper .two:hover div dl 
{
	width: 204px;
}

#menuListWrapper .two:hover div dl dt 
{
	width: 214px;
}

#menuListWrapper .single:hover div dl 
{
	width: 204px;
}

#menuListWrapper .single:hover div dl dt 
{
	width: 214px;
}

#menuListWrapper :hover div dl dd 
{
	padding: 0px; 
	margin: 0px;
}

/* For the links in the drop down */
#menuListWrapper :hover div dd a 
{
	display: block; 
	text-decoration: none; 
	font-weight: normal;  
	text-indent: 10px; 
	line-height: 1.6em;
	color: #666666;
}

/* For the active link in the drop down */
#menuListWrapper :hover div dd a.selected
{
	background-color: #dddddd;
	font-weight: bold;
}

/* For the active link when you hover in the drop down */
#menuListWrapper :hover div dd a.selected:hover
{
	background-color: #d1d1d1;
}

#menuListWrapper .clear 
{
	clear:both;
}

/* Not used yet */
#menuListWrapper :hover div.pos2 
{
	background: #f0f5ee;
}