
button.add, button.edit, button.delete, button.cancel, button.accept
{
    background-position:3px ! important; 
    background-repeat:no-repeat ! important;
    padding-left: 20px ! important;
    padding-top:2px;
    padding-bottom:2px;
}

button.add-no-text, button.edit-no-text, button.delete-no-text, button.cancel-no-text, button.accept-no-text
{
    background-repeat:no-repeat;
		padding-bottom: 9px;
		padding-top: 9px;
		padding-left: 7px;
		padding-right: 7px;
}

button.add, button.add-no-text
{
    background-image: url(/images/icons/add.png);
}

button.edit, button.edit-no-text
{
    background-image: url(/images/icons/page_white_edit.png);
}

button.delete, button.delete-no-text
{
    background-image: url(/images/icons/delete.png);
}

button.cancel, button.cancel-no-text
{
    background-image: url(/images/icons/cancel.png) ! important;
}

button.accept, button.accept-no-text
{
    background-image: url(/images/icons/accept.png) ! important;
}