<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScriptFolder" value="Tarantino.Deployer.Database" />
    <add key="Server" value="." />
    <add key="Database" value="TarantinoDeployer" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="IntegratedSecurity" value="true" />
    <add key="NAntFolder" value="NAnt" />
  </appSettings>
</configuration>