<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MySettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="DeployerSettings" type="Tarantino.Core.Deployer.Services.Configuration.Impl.DeployerSettingsConfigurationHandler, Tarantino.Core"/>
	</configSections>

	<MySettings>
		<add key="key1" value="value1" />
		<add key="key2" value="value2" />
	</MySettings>

	<DeployerSettings>
		<Applications>

			<Application Name="SampleApp1" ZipFile="SampleApp1File" Url="http://svn.com/SampleApp1" Username="user1" Password="password1">
				<Environments>
					<Environment Name="Development" />
					<Environment Name="Production" Predecessor="Development" />
				</Environments>
			</Application>

			<Application Name="SampleApp2" ZipFile="SampleApp2File" Url="http://svn.com/SampleApp2" Username="user2" Password="password2">
				<Environments>
					<Environment Name="Development" />
					<Environment Name="Production" Predecessor="Development" />
				</Environments>
			</Application>

		</Applications>
	</DeployerSettings>

	<connectionStrings>
		<!--<add name="DatabaseConnectionString" connectionString="data source=.\SQLExpress;Initial Catalog=TarantinoDeployer;Integrated Security=true;Connect Timeout=100"/>
		<add name="TarantinoWebManagementConnectionString" connectionString="data source=.\SQLExpress;Initial Catalog=TarantinoWebManagement;Integrated Security=true;Connect Timeout=100"/>-->
	</connectionStrings>

	<appSettings>
		<add key="TestKey" value="TestValue" />
	</appSettings>
</configuration>