<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="SleepTimeInMilliseconds" value="750" />

		<add key="SmtpServer" value="mail.tarantino.com"/>
		<add key="SmtpSenderName" value="Tarantino"/>
		<add key="SmtpSenderAddress" value="tarantino@google.com"/>

	</appSettings>
</configuration>