<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<configSections>
	<section name="DeployerSettings" type="Tarantino.Core.Deployer.Services.Configuration.Impl.DeployerSettingsConfigurationHandler, Tarantino.Core"/>
</configSections>

<DeployerSettings>
	<Applications>
		<Application Name="TODO" ZipFile="TODOPackage" Url="TODO/trunk/latestVersion" Username="ccnet" Password="TODO">
			<Environments>
				<Environment Name="DEV" />
				<Environment Name="Staging" Predecessor="DEV" />
			</Environments>
		</Application>
	</Applications>
</DeployerSettings>

</configuration>