body
{
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-image: url(../../images/themes/green/layout/background-gradient.gif);
	background-color: #129987;
	background-position: left bottom;
	color: #171702;
	font-family: Tahoma, Verdana, Helvetica;
	font-size: 15px;
}

.sidebar 
{
	float: right;
	width: 250px;
}

.content 
{
	width: 675px;	
}

.section-title 
{
	text-align: center;
	margin-bottom: 20px;
}

p#version-info 
{
	font-size: .7em;
	text-align:center;
	color: #888;
}

#frame
{
	width: 1020px; 
	margin: 0px auto; 
	padding: 0px; 
	text-align: left; 	
}

#frame-header
{
	background-image: url(../../images/themes/green/layout/frame-header.png);
	background-repeat: no-repeat;
	height: 20px;
}

#frame-footer
{
	background-image: url(../../images/themes/green/layout/frame-footer.png);
	background-repeat: no-repeat;
	height: 20px;
}

#content
{
	background-image: url(../../images/themes/green/layout/content-background.png);
	background-repeat: repeat-y;
	padding: 0px 20px 
}

#header h1
{
	margin: 5px 0px 0px 10px;
	padding: 0px;
	float: left;
	font-size: 18px;
}

#header h1 a, #header h2 a
{
	text-decoration: none;
}

#header h2
{
	padding: 0px;
	margin: 0px;
	float: right;
}

#contentWrapper
{
	padding: 20px;	
}

a
{
	color: #157d38;
}

.buttonLeftEndCap
{
	height: 30px;
	width: 10px;
	background-image: url(../../images/themes/green/buttons/button-left-end-cap.gif);
	background-repeat: no-repeat;
	float: left;
}

.buttonRightEndCap
{
	height: 30px;
	width: 10px;
	background-image: url(../../images/themes/green/buttons/button-right-end-cap.gif);
	background-repeat: no-repeat;
	float: left;
}

.buttonContentBackground
{
	text-align: center;
	height: 20px;
	padding: 5px;
	background-image: url(../../images/themes/green/buttons/button-content-background.gif);
	background-repeat: repeat-x;
	float: left;
	font-size: 14px;
	color: #171702;
}

.buttonContentBackground a
{
	color: #171702;
}



/* Begin Navigation CSS */
#navigationWrapper
{
	padding: 10px 0px;
}

ul#navigationMenu
{
	float: left;
	
	background-image: url(../../images/themes/green/layout/navigation-background.gif);
	background-repeat: repeat-x;
	
	height: 40px;
	width: 960px;
	
	margin: 0px;
	padding: 0px;
}

ul#navigationMenu li
{
	list-style-type: none;
	float: left;
	
	padding: 0px;
	margin: 0px;
}

ul#navigationMenu li a
{
	display: block;
	
	color: White;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	
	padding: 10px 0px 0px 15px;
	
	width: 105px;
	height: 40px;
	
	text-align: center;
}

ul#navigationMenu li a:hover
{
	background-image: url(../../images/themes/green/layout/navigation-hover-background.gif);
	background-repeat: repeat-x;
}

#leftNavigationEndCap
{
	background-image: url(../../images/themes/green/layout/left-navigation-end-cap.gif);
	background-repeat: no-repeat;
	height: 40px;
	width: 10px;
	float: left;
}

#rightNavigationEndCap
{
	background-image: url(../../images/themes/green/layout/right-navigation-end-cap.gif);
	background-repeat: no-repeat;
	height: 40px;
	width: 10px;
	float: left;
}
/* End navigation CSS */




/* Table */
table.feature, table.feature td
{
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}

table.feature td.featureLeftEndCap
{
	background-image: url(../../images/themes/green/layout/feature-content-left-end-cap.gif);
	background-repeat: no-repeat;
	width: 10px;
}

table.feature td.featureRightEndCap
{
	background-image: url(../../images/themes/green/layout/feature-content-right-end-cap.gif);
	background-repeat: no-repeat;
	width: 10px;
}

table.feature td.featureContent
{
	background-image: url(../../images/themes/green/layout/feature-content-background.gif);
	background-repeat: repeat-x;
	text-align: left;
	padding-top: 5px !important;
}

table.feature td.featureHeading
{
	font-weight: bold;
	font-size: 1.3em;
	padding-bottom: 5px !important;
}
/* End feature table CSS */


table.conference-table 
{
	border: solid 2px #ccc;	
}

	table.conference-table caption 
	{		
		padding: 3px;
		color: #666;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.4em;		
	}
	
	table.conference-table tr th 
	{
		font-weight: bold;
		background-color: #eee;
		padding: 6px;
		border-bottom: solid 1px #aaa;
	}

	table.conference-table tr td 
	{
		padding: 10px;
	}
	
	table.conference-table tr > td 
	{
		border-bottom: solid 1px #ddd;
	}		

.proposal
{
    border: solid 1px #129987;
    
}
.proposal-alternating
{
    background-color:#99CC99;
}

/* form styles */
fieldset 
{
	background-color: #eee;
	padding: 20px;
	margin: 10px auto;
	border: solid 4px #aba;
	width: 480px;
}

fieldset legend 
{
	font-weight: bold;
	background-color: #fff;
}

fieldset label 
{
	float: left;
	display: block;
	width: 150px;
	text-align: right;		
	height: 20px;	
	margin: 7px;	
}

fieldset input[type="text"], fieldset input[type="password"] 
{
	font-size: 1.1em;	
	margin: 1px;
	padding: 4px;
}

fieldset select 
{
	font-size: 1.1em;
	margin: 1px;
	padding: 4px;
}

fieldset input[type="checkbox"]
{
	margin: 8px 0;	
}

fieldset input[type='submit'] 
{
	width: inherit;
}

fieldset p.buttons 
{
	text-align:right;
	margin: 6px;
}

/* Login Styles */

fieldset#login 
{	
	width: 400px;
}

fieldset#login label
{
	margin: 7px 10px;
	height: 40px;
}

fieldset#login input[type='text'], fieldset#login input[type='password']
{
	width: 230px;	
	font-size: 1.2em;
	padding: 6px;
}

/* end login styles */

/* conference styles */
fieldset#conference 
{
	width:630px;
}

fieldset#conference textarea#HtmlContent
{
	height: 300px;
}

fieldset#conference p.buttons 
{
	margin-top: 20px;
}

/* end conference styles */