<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="JobAgentFactoryType" value="CodeCampServer.DependencyResolution.JobAgentFactory, CodeCampServer.DependencyResolution" />
		<add key="BatchLogFileToEmail" value="" />
		<add key="BatchLogFileFromEmail" value="" />
		<add key="BatchLogFileSmtpHost" value="" />
		<add key="BatchLogFileLocation" value="" />
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="StructureMap"
													publicKeyToken="e60ad81abae3c223"
													culture="neutral" />
				<bindingRedirect oldVersion="2.5.2.0"
												 newVersion="2.5.4.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>