<cruisecontrol>
	<project name="CodeCampServer">
		<modificationDelaySeconds>10</modificationDelaySeconds>
		<sourcecontrol type="filtered">
		    <exclusionFilters>
		      <pathFilter>
		        <pattern>**/LatestVersion/*.*</pattern>
		      </pathFilter>
		      <pathFilter>
		        <pattern>**/CommonAssemblyInfo.cs</pattern>
		      </pathFilter>
		    </exclusionFilters>
		    <inclusionFilters>
		      <pathFilter>
		        <pattern>**/*.*</pattern>
		      </pathFilter>
		    </inclusionFilters>
		    <sourceControlProvider type="svn">
			      <executable>Subversion\svn.exe</executable>
			      <workingDirectory>.</workingDirectory>
			      <trunkUrl>#TRUNKURL#</trunkUrl>
			      <tagOnSuccess>false</tagOnSuccess>
			      <tagBaseUrl></tagBaseUrl>
			      <username></username>
			      <password></password>
          <revert>True</revert>
        </sourceControlProvider>
		</sourcecontrol>
		<tasks>
			<nant>
				<executable>lib\nant\nant.exe</executable>
				<baseDirectory>.</baseDirectory>
				<buildFile>nant.build</buildFile>
				<buildArgs>-D:database.name=CodeCampServerCiTrunk</buildArgs>
				<targetList>
					<target>integrationBuild</target>
				</targetList>
				<buildTimeoutSeconds>500</buildTimeoutSeconds>
			</nant>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>build\results\*.xml</file>
					<file>*.xml</file>
				</files>
			</merge>
			<xmllogger />
			<statistics>
        <statisticList>
          <statistic name="Coverage" 		xpath="(//trendcoveragedata/stats/@vsp div ( //trendcoveragedata/stats/@vsp + //trendcoveragedata/stats/@usp ) ) * 100" generateGraph="true"/>
          <firstMatch name="AverageComplexity" 	xpath="//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id='M14']"  generateGraph="true"/>
          <firstMatch name="MaximumComplexity" 	xpath="//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id='M10']"  generateGraph="true"/>
          <firstMatch name="Lines" 		xpath="//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id='M0']"  generateGraph="true"/>
          <firstMatch name="Svn Revision" xpath="//modifications/modification/changeNumber" />
          <firstMatch name="UnitTests" xpath="//test-results/@total" />					
          <firstMatch name="UnitTestsFailures" xpath="//test-results/@failures" />					
          <firstMatch name="UnitTestsNotRun" xpath="//test-results/@not-run" />	
          <firstMatch name="ILInstructions" xpath="//ApplicationMetrics/@NILInstruction" />                                                            
          <firstMatch name="LinesOfCode" xpath="//ApplicationMetrics/@NbLinesOfCode" />               
          <firstMatch name="LinesOfComment" xpath="//ApplicationMetrics/@NbLinesOfComment" />                                             
        </statisticList>
			</statistics>
			<modificationHistory  />			
		</publishers>
    <triggers>
      <intervalTrigger seconds="30"/>
    </triggers>
	</project>
  <project name="CodeCampServer-Deploy">
    <sourcecontrol type="filtered">
      <sourceControlProvider type="svn" autoGetSource="true">
        <executable>"Subversion\svn.exe"</executable>
        <trunkUrl>#TRUNKURL#/latestVersion</trunkUrl>
      </sourceControlProvider>
      <inclusionFilters>
        <pathFilter>
          <pattern>**/*.*</pattern>
        </pathFilter>
      </inclusionFilters>
    </sourcecontrol>
    <triggers/>
    <tasks>
      <exec>
        <executable>deploy.bat</executable>
      </exec>
    </tasks>
    <publishers>
      <xmllogger />
    </publishers>
  </project>
</cruisecontrol>