<?xml version="1.0"?>
<configuration>
  <system.web>
		<httpHandlers>
			<add path="*" verb="*"
          type="System.Web.HttpNotFoundHandler"/>
		</httpHandlers>
		<pages
        validateRequest="false"
        pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<controls>
				<add assembly="System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
			</controls>
			<namespaces>
				<add namespace="MvcContrib" />
				<add namespace="CodeCampServer.UI" />
        <add namespace="CodeCampServer.Core" />
        <add namespace="CodeCampServer.Core.Common" />
        <add namespace="CodeCampServer.UI.Controllers" />
        <add namespace="CodeCampServer.UI.Models.Forms" />
        <add namespace="CodeCampServer.UI.Models" />
        <add namespace="Microsoft.Web.Mvc" />
      </namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="BlockViewHandler"/>
			<add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler"/>
		</handlers>
	</system.webServer>
</configuration>
