<!DOCTYPE cruisecontrol [
  <!ENTITY svnBase "https://CodeCampServer.googlecode.com/svn/">
<!ENTITY projectName "CodeCampServer">
]>
<cruisecontrol>
	<project name="&projectName;">
    <modificationDelaySeconds>10</modificationDelaySeconds>
    <sourcecontrol type="filtered">
      <exclusionFilters>
        <pathFilter>
          <pattern>**/latestVersion/*.*</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>**/config/ccnet.config</pattern>
        </pathFilter>
        <pathFilter>
          <pattern>**/CommonAssemblyInfo.cs</pattern>
        </pathFilter>
      </exclusionFilters>
      <inclusionFilters>
        <pathFilter>
          <pattern>**/*.*</pattern>
        </pathFilter>
      </inclusionFilters>
      <sourceControlProvider type="svn">
        <executable>Subversion\svn.exe</executable>
        <workingDirectory>.</workingDirectory>
        <trunkUrl>&svnBase;trunk</trunkUrl>
        <tagOnSuccess>false</tagOnSuccess>
        <revert>True</revert>
        	<cleanUp>True</cleanUp>
	</sourceControlProvider>
    </sourcecontrol>
    <tasks>
      <nant>
        <executable>lib\nant\nant.exe</executable>
        <baseDirectory>.</baseDirectory>
        <buildFile>nant.build</buildFile>
        <buildArgs>-D:database.name=&projectName;_trunk</buildArgs>
        <targetList>
          <target>integrationBuild</target>
        </targetList>
        <buildTimeoutSeconds>500</buildTimeoutSeconds>
      </nant>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>build\results\*.xml</file>
          <file>*.xml</file>
        </files>
      </merge>
      <xmllogger />
      <statistics>
        <statisticList>
          <statistic name="Coverage" xpath="(//trendcoveragedata/stats/@vsp div ( //trendcoveragedata/stats/@vsp + //trendcoveragedata/stats/@usp ) ) * 100" generateGraph="true" />
          <firstMatch name="AverageComplexity" xpath="//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id='M14']" generateGraph="true" />
          <firstMatch name="MaximumComplexity" xpath="//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id='M10']" generateGraph="true" />
          <firstMatch name="Lines" xpath="//sourcemonitor_metrics/project/checkpoints/checkpoint/metrics/metric[@id='M0']" generateGraph="true" />
          <firstMatch name="Svn Revision" xpath="//modifications/modification/changeNumber" />
          <firstMatch name="UnitTests" xpath="//test-results/@total" />
          <firstMatch name="UnitTestsFailures" xpath="//test-results/@failures" />
          <firstMatch name="UnitTestsNotRun" xpath="//test-results/@not-run" />
          <firstMatch name="ILInstructions" xpath="//ApplicationMetrics/@NILInstruction" />
          <firstMatch name="LinesOfCode" xpath="//ApplicationMetrics/@NbLinesOfCode" />
          <firstMatch name="LinesOfComment" xpath="//ApplicationMetrics/@NbLinesOfComment" />
        </statisticList>
      </statistics>
      <modificationHistory />
    </publishers>
    <triggers>
      <intervalTrigger seconds="30" />
    </triggers>
  </project>
  <project name="&projectName;-Deploy">
    <sourcecontrol type="filtered">
      <sourceControlProvider type="svn" autoGetSource="true">
        <executable>"Subversion\svn.exe"</executable>
        <trunkUrl>&svnBase;/trunk/latestVersion</trunkUrl>
		<revert>True</revert>
      </sourceControlProvider>
      <inclusionFilters>
        <pathFilter>
          <pattern>**/*.*</pattern>
        </pathFilter>
      </inclusionFilters>
    </sourcecontrol>
	  <triggers>
		  <intervalTrigger seconds="10" />
	  </triggers>
	  <tasks>
      <exec>
		  <executable>cmd.exe</executable>
		  <buildArgs>/c deploy.bat .\sqlexpress dev</buildArgs>
      </exec>
    </tasks>
    <publishers>
      <xmllogger />
    </publishers>
  </project>
<!--
	<project name="&projectName;-Deploy-UAT">
		<sourcecontrol type="filtered">
			<sourceControlProvider type="svn" autoGetSource="true">
				<executable>"Subversion\svn.exe"</executable>
				<trunkUrl>&trunk;/latestVersion</trunkUrl>
				<revert>True</revert>
			</sourceControlProvider>
			<inclusionFilters>
				<pathFilter>
					<pattern>**/*.*</pattern>
				</pathFilter>
			</inclusionFilters>
		</sourcecontrol>
		<triggers/>
		<tasks>
			<exec>
				<executable>cmd.exe</executable>
				<buildArgs>/c deploy.bat .\sqlexpress uat</buildArgs>
			</exec>
		</tasks>
		<publishers>
			<xmllogger />
		</publishers>
	</project>
	<project name="&projectName;-Deploy-uitest">
		<sourcecontrol type="filtered">
			<sourceControlProvider type="svn" autoGetSource="true">
				<executable>"Subversion\svn.exe"</executable>
				<trunkUrl>&trunk;/latestVersion</trunkUrl>
				<revert>True</revert>
			</sourceControlProvider>
			<inclusionFilters>
				<pathFilter>
					<pattern>**/*.*</pattern>
				</pathFilter>
			</inclusionFilters>
		</sourcecontrol>
		<triggers/>
		<tasks>
			<exec>
				<executable>cmd.exe</executable>
				<buildArgs>/c deploy.bat .\sqlexpress uitest</buildArgs>
			</exec>
		</tasks>
		<publishers>
			<xmllogger />
		</publishers>
	</project>
-->
  <project name="autoload-ccnet-config">
    <workingDirectory>config</workingDirectory>
    <sourcecontrol type="filtered">
      <sourceControlProvider type="svn" autoGetSource="true">
        <executable>"..\Subversion\svn.exe"</executable>
        <trunkUrl>&svnBase;/trunk/config</trunkUrl>
        <revert>True</revert>
        <cleanUp>True</cleanUp>
      </sourceControlProvider>
      <inclusionFilters>
        <pathFilter>
          <pattern>**/*.*</pattern>
        </pathFilter>
      </inclusionFilters>
    </sourcecontrol>
    <triggers>
      <intervalTrigger seconds="15" />
    </triggers>
    <tasks>
      <exec executable="cmd" buildArgs="/c copy ccnet.config ..\ccnet.config" />      
    </tasks>
    <publishers>
      <xmllogger />
    </publishers>
  </project>

  <project name="create-new-branch">
    <parameters>
      <textParameter>
        <name>BRANCH</name>
        <display>Name of the New Branch</display>
        <description>The name of the new folder under the banches root folder?</description>
        <minimum>5</minimum>
        <maximum>100</maximum>
        <required>true</required>
      </textParameter>
    </parameters>
    <sourcecontrol type="nullSourceControl"/>
    <triggers/>
    <tasks>
      <exec>
        <executable>subversion\svn.exe</executable>
        <baseDirectory>..\</baseDirectory>
        <buildArgs>cp -m"Creating Branch $[BRANCH]" &svnBase;/trunk &svnBase;/branches/$[BRANCH]</buildArgs>
        <successExitCodes>0</successExitCodes>
        <buildTimeoutSeconds>60</buildTimeoutSeconds>
      </exec>
      <exec>
        <executable>powershell.exe</executable>        
        <baseDirectory>..\..\config</baseDirectory>
        <buildArgs>.\createbranch.ps1 $[BRANCH]</buildArgs>
      </exec>
      <exec>
        <executable>subversion\svn.exe</executable>
        <baseDirectory>..\</baseDirectory>
        <buildArgs>ci -m"Adding Branch $[BRANCH] configuration" config\</buildArgs>
        <successExitCodes>0</successExitCodes>
        <buildTimeoutSeconds>60</buildTimeoutSeconds>
      </exec>
    </tasks>
    <publishers>
      <xmllogger />
    </publishers>
  </project>




</cruisecontrol>