<cruisecontrol>
	<project name="TODO">
		<webURL>http://TODO/ccnet/</webURL>
		<sourcecontrol type="filtered">
			<sourceControlProvider type="svn" autoGetSource="true">
				<executable>svn.exe</executable>
				<trunkUrl>TODO/trunk/</trunkUrl>
				<tagOnSuccess>true</tagOnSuccess>
				<tagBaseUrl>TODO/tags/</tagBaseUrl>
				<username>TODO</username>
				<password>TODO</password>
			</sourceControlProvider>
			<inclusionFilters>
				<pathFilter>
					<pattern>**/*.*</pattern>
				</pathFilter>
			</inclusionFilters>
			<exclusionFilters>
				<pathFilter>
					<pattern>**/*Package.zip</pattern>
				</pathFilter>
				<pathFilter>
					<pattern>**/docs</pattern>
				</pathFilter>
				<pathFilter>
					<pattern>**/CommonAssemblyInfo.cs</pattern>
				</pathFilter>
			</exclusionFilters>
		</sourcecontrol>
		<triggers>
			<intervalTrigger name="continuous" seconds="5" buildCondition="IfModificationExists"/>
		</triggers>
		<tasks>
			<nant>
				<executable>lib\nant\nant.exe</executable>
				<buildFile>nant.build</buildFile>
				<targetList>
					<target>cruise</target>
				</targetList>
				<buildTimeoutSeconds>900</buildTimeoutSeconds>
			</nant>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>build\results\*.xml</file>
				</files>
			</merge>
			<xmllogger />
			<statistics />
		</publishers>
	</project>
</cruisecontrol>