<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nhibernate" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<nhibernate>
		<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
		<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
		<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
		<add key="hibernate.connection.connection_string" value="Server=localhost\sqlexpress;initial catalog=mvcbook;user id=webuser;password=password" />
	</nhibernate>
</configuration>