/* Messages  */
.info
{
	display: block;
	font-size: .7em;
	color: #345;
}

.message
{
	color: #FF0000;
}

.error
{
	font-weight: bold;
	color: white;
	background-color: Red;
	padding:1px;
}

label.formError {
	color: Red;
}

.notice
{
	margin: 10px;
	padding: 25px;
	background-color: #efffef;
	border-top: solid 1px green;
	border-bottom: solid 1px green;
}

a.link_button:link, a.link_button:visited
{
	background: transparent url(/content/images/green_bullet.png) no-repeat left center;	
	padding: 3px;
	padding-left: 18px;
	line-height: 1.8em;	
	font-size: 1.1em;
	font-weight:bold;
	text-decoration: none;
	color: Blue;
	border: solid 1px AliceBlue;
}

a.link_button:hover, a.link_button:active
{
	background-color: #F0F8FF;
	border: solid 1px Navy;
}


/* Forms */
fieldset
{
	float: left;
	border: none;
	border-top: solid 1px #999;
}

fieldset legend
{	
	margin-left: 30px;
	border-style: solid;
	border-width: 1px 3px;
	border-color: #999;	
	padding: 3px;
	font-size: 1.4em;
	font-weight: bold;
	color: #669;
	background-color: #eef;
}

fieldset label
{
	margin-top: 7px;
	display: block;
}

fieldset .button-row
{
    margin-top: 25px;
    text-align: center;
}


#login 
{
	display: block;
	position: absolute;
	top: 5px;
	right: 10px;
	color: #FFF;
}

/* Sponsors */
.sponsors
{
	list-style: none;
}
.sponsor p
{
	padding: 0 10px 10px 10px;
}
.Platinum p
{
	font-weight: bold;
}
.Gold p
{
	background-color: #FFFFCC;
}
.Silver p
{
	background-color: #DDDDDD;
}
.Bronze p
{
	background-color: #CCCC99;
}


/* Administration */
div.admin-panel
{
	border: dotted 1px #ddd;
	margin: 4px;
	padding: 4px;	
}

div.admin-panel h3
{
	background-color: #000;
	color: #fff;	
}

table tr th
{
	background-color: #333;
	color: #eee;
	padding: 2px;
}

table tr td
{	
	padding: 5px;
}