.info
{
	display: block;
	font-size: .7em;
	color: #345;
}

.message
{
	color: #FF0000;
}

.error
{
	font-weight: bold;
	color: Red;
}


/* Form Formatting */
fieldset
{
	float: left;
	border: none;
	border-top: solid 1px #999;
}

fieldset legend
{	
	margin-left: 30px;
	border-style: solid;
	border-width: 1px 3px;
	border-color: #999;	
	padding: 3px;
	font-size: 1.4em;
	font-weight: bold;
	color: #669;
	background-color: #eef;
}

fieldset label
{
	margin-top: 7px;
	display: block;
}

fieldset .button-row
{
    margin-top: 25px;
    text-align: center;
}
/* End Form Formatting */