<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" MasterPageFile="~/Views/Shared/Main.master" %>
<asp:Content runat="server" ContentPlaceHolderID="Main">
	<asp:ContentPlaceHolder ID="TitleContent" runat="server" Visible=false/>
	  <fieldset id="login">
	<asp:ContentPlaceHolder ID="MainContent" runat="server"/>        
	</fieldset>
</asp:Content>
