<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
  
	<appSettings/>
	<connectionStrings/>
	<system.web>
		
		<compilation debug="true">
			<assemblies>
        <add assembly="System.Web.Mvc"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>				
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>

    <authentication mode="Forms"/>
		
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="CodeCampServer.Model.Domain"/>
				<add namespace="CodeCampServer.Model.Presentation"/>
				<add namespace="CodeCampServer.Website.Helpers"/>				
			</namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>   
		
    <httpHandlers>			
			<!-- Disallow attempts to grab the configs -->
			<add verb="*" path="*.cfg.xml" type="System.Web.HttpForbiddenHandler"/>			
		</httpHandlers>
		
    <httpModules>
			<add name="NHibernateSessionModule" type="CodeCampServer.DataAccess.Impl.NHibernateSessionModule"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      
      <!-- remove this for production use ( add ?routedebug to any URL to see the route information) -->
      <add name="RouteDebugModule" type="RouteDebug.RouteDebugModule, RouteDebug"/>
      
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add name="AuthenticationModule" type="CodeCampServer.Website.AuthenticationModule, CodeCampServer.Website"/>
    </httpModules>
	</system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>

      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4"
                type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>

</configuration>