<?xml version="1.0" encoding="utf-8"?>
<dashboard>
  <remoteServices>
    <servers>
      <!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
      <server name="local" url="tcp://localhost:21234/CruiseManager.rem" allowForceBuild="true" allowStartStopBuild="true" backwardsCompatible="false" />
    </servers>
  </remoteServices>
  <plugins>
    <farmPlugins>
      <farmReportFarmPlugin />
      <cctrayDownloadPlugin />
      <administrationPlugin password="ccnetrocks" />
    </farmPlugins>
    <serverPlugins>
      <serverReportServerPlugin />
      <queueStatusServerPlugin></queueStatusServerPlugin>
      <serverSecurityConfigurationServerPlugin></serverSecurityConfigurationServerPlugin>
      <projectConfigurationServerPlugin></projectConfigurationServerPlugin>
      <serverInformationServerPlugin></serverInformationServerPlugin>
      <serverLogServerPlugin></serverLogServerPlugin>
      <serverUserListServerPlugin></serverUserListServerPlugin>
    </serverPlugins>
    <projectPlugins>
      <projectReportProjectPlugin />
      <viewProjectStatusPlugin />
      <latestBuildReportProjectPlugin />
      <viewAllBuildsProjectPlugin />
      <modificationHistoryProjectPlugin></modificationHistoryProjectPlugin>
      <viewConfigurationProjectPlugin></viewConfigurationProjectPlugin>
      <projectStatisticsPlugin xslFileName="xsl\StatisticsGraphs.xsl"></projectStatisticsPlugin>
      <packageListPlugin></packageListPlugin>
      <serverSecurityConfigurationProjectPlugin></serverSecurityConfigurationProjectPlugin>
      <serverLogProjectPlugin></serverLogProjectPlugin>
      <serverUserListProjectPlugin></serverUserListProjectPlugin>
    </projectPlugins>
    <buildPlugins>
      <buildReportBuildPlugin>
        <xslFileNames>
          <xslFile>xsl\header.xsl</xslFile>
          <xslFile>xsl\modifications.xsl</xslFile>
          <xslFile>xsl\NCoverReporting30.xsl</xslFile>
          <xslFile>xsl\unittests.xsl</xslFile>
          <xslFile>xsl\compile.xsl</xslFile>
        </xslFileNames>
      </buildReportBuildPlugin>
      <buildLogBuildPlugin />
      <xslReportBuildPlugin description="NUnit Details" actionName="NUnitDetailsBuildReport" xslFileName="xsl\tests.xsl"></xslReportBuildPlugin>
      <xslReportBuildPlugin description="NUnit Timings" actionName="NUnitTimingsBuildReport" xslFileName="xsl\timing.xsl"></xslReportBuildPlugin>
      <xslReportBuildPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\NAnt.xsl"></xslReportBuildPlugin>
      <xslReportBuildPlugin description="NAnt Timings" actionName="NAntTimingsBuildReport" xslFileName="xsl\NAntTiming.xsl"></xslReportBuildPlugin>
      <xslReportBuildPlugin description="NCover Report" actionName="NCoverBuildReport" xslFileName="xsl\NCoverReporting30.xsl" />
      <xslReportBuildPlugin description="SourceMonitor Top 15" actionName="SoureMonitorFileBuildReport" xslFileName="xsl\sourcemonitor.xsl" />
      <xslReportBuildPlugin description="SourceMonitor Details" actionName="SoureMonitorMetricBuildReport" xslFileName="xsl\sourcemonitor-group-by-metric.xsl" />
    </buildPlugins>
    <securityPlugins>
      <simpleSecurity />
    </securityPlugins>
  </plugins>
</dashboard>